version: '3.8'

services:
  mongodb:
    image: mongo:5.0
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: password
    volumes:
      - mongodb_data:/data/db

  api:
    build: ./backend
    ports:
      - "5000:5000"
    environment:
      - NODE_ENV=development
      - MONGODB_URI=mongodb://admin:password@mongodb:27017/ekonzims
      - JWT_SECRET=your_jwt_secret
    depends_on:
      - mongodb
    volumes:
      - ./backend:/app

  web:
    build: ./web
    ports:
      - "3000:80"
    environment:
      - NODE_ENV=production
    depends_on:
      - api

volumes:
  mongodb_data:
